<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/home_style.css" />
</head>

<body>

    <div class="login_button">
        <a href="/">login</a>
    </div>

    <div>
        <h1>TestSQL</h1>
    </div>

    <form>
        <div class="form__fieldset">
            <a href="/practice">practice</a>
        </div>

        <div class="form__fieldset">
            <a href="/test">test</a>
        </div>

        <div class="form__fieldset">
            <a href="/statistics">statistics</a>
        </div>

    </form>
</body>

</html>