<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/static/markedTest_style.css" />
    <link rel="stylesheet" href="../static/markedTest_style.css" />

</head>

<body>

    <nav>
        <a href="/home" class="btn">home</a>
    </nav>

    <h1 class="heading">Results</h1>

    <p>Well done for completing your test.</p>

    <p class="score">You scored {{ mark }}</p>

    <!-- <p>You may now return to your home page.</p> -->

</body>

</html>