<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/static/test_style.css" />
    <link rel="stylesheet" href="../static/test_style.css" />

</head>

<body>

    <nav>
        <a href="/home" class="btn">home</a>
    </nav>

    <p>Input the equivalent SQL queries for the following English questions: </p>

    <h1 class="heading">Test</h1>

    <form class="q_and_a_form" method="post">
        <div class="question_input">
            <!-- Easy Question 1 -->
            <label class="form_label" for="sql1">1. {{engE1}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlE1" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Easy Question 2 -->
            <label class="form_label" for="sql2">2. {{engE2}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlE2" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Easy Question 3 -->
            <label class="form_label" for="sql3">3. {{engE3}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlE3" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Medium Question 1 -->
            <label class="form_label" for="sql4">4. {{engM1}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlM1" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Medium Question 2 -->
            <label class="form_label" for="sql5">5. {{engM2}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlM2" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Medium Question 3 -->
            <label class="form_label" for="sql6">6. {{engM3}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlM3" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Medium Question 4 -->
            <label class="form_label" for="sql7">7. {{engM4}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlM4" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Medium Question 5 -->
            <label class="form_label" for="sql8">8. {{engM5}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlM5" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Hard Question 1 -->
            <label class="form_label" for="sql9">9. {{engH1}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlH1" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <!-- Hard Question 2 -->
            <label class="form_label" for="sql10">10. {{engH2}}</label><br>
            <div class=form_input>
                <input type="text" id="sqlH2" class="form_input" placeholder="Input SQL Query Here..." /><br>
            </div>

            <div class="mark_button_div">
                <input class="mark_button btn" type="submit" name="mark_button" value="mark">
            </div>
        </div>
    </form>

</body>

</html>