<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/login_style.css" />
</head>

<body>
    <h1>TestSQL</h1>
    <form method="get post">
        <div class="form__fieldset">
            <label for="username" class="form__label">Username:</label>
            <input type="text" name="username" id="username" class="form__input" />
        </div>

        <div class="form__fieldset">
            <label for="password" class="form__label">Password:</label>
            <input type="password" name="password" id="password" class="form__input" />
        </div>
        <div class="form__fieldset">
            <input class="form__submit form__input" type="submit" value="login">
        </div>
    </form>
</body>

</html>