<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/static/markedTest_style.css" />
    <link rel="stylesheet" href="../static/markedTest_style.css" />

</head>

<body>

    <h1 class="heading">Results</h1>

    <div>
        <p>Well done for completing your test.</p>
        <p class="score">You scored {{ mark }}</p>
    </div>

    <div class="buttons">
        <a href="/" class="btn">home</a>
        <a href="/numQsSelect" class="btn">new test</a>
    </div>

</body>

</html>