<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/static/numQsSelect_style.css" />
    <link rel="stylesheet" href="../static/numQsSelect_style.css" />

</head>

<body>

    <h1 class="heading">How many questions would you like to complete?</h1>

    <nav>
        <p>Number of questions: </p>

        <form class="numQForm" id="numQForm" method="post">
            <select class="numQs" name="numQs" id="numQs">
                <option value="ten">10</option>
                <option value="twenty">20</option>
                <option value="thirty">30</option>
                <option value="forty">40</option>
                <option value="fifty">50</option>
            </select>
        </form>
    </nav>

    <div class="buttons">
        <a href="/" class="btn">home</a>
        <a href="/test" class="btn">generate test</a>
    </div>

</body>

</html>