<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/static/numQsSelect_style.css" />
    <link rel="stylesheet" href="../static/numQsSelect_style.css" />

</head>

<body>

    <h1 class="heading">How many questions would you like to complete?</h1>

    <nav>
        <p>Number of questions: </p>

        <form class="numQForm" id="numQForm" method="post">
            <select class="numQs" name="numQs" id="numQs">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </form>
    </nav>

    <div class="buttons">
        <a href="/test" class="btn">generate test</a>
        <a href="/" class="btn">home</a>
    </div>

</body>

<script>
    const select = document.querySelector("#numQs");
    const numQForm = document.querySelector("#numQForm");

    select.addEventListener("change", async function () {
        const form_data = new FormData(numQForm);
        form_data.append("numQs_changed", "");
        const response = await fetch("/numQsSelect", {
            method: "POST",
            body: form_data,
        });
    })
</script>

</html>