<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
    <link rel="stylesheet" href="/static/practice_style.css" />
    <link rel="stylesheet" href="../static/practice_style.css" />

</head>

<body>

    <nav>
        <a href="/" class="btn">home</a>

        <form class="next_q_form" id="next_q_form" method="post">
            <select class="difficulty" name="difficulty" id="difficulty">
                <option value="easy" {{"selected" if difficulty=='easy' else "" }}>easy</option>
                <option value="medium" {{"selected" if difficulty=='medium' else "" }}>medium</option>
                <option value="hard" {{"selected" if difficulty=='hard' else "" }}>hard</option>
            </select>
        </form>
    </nav>

    <p>Input the equivalent SQL query for this English question:</p>

    <h1 class="eng_question">{{ engQuestion }}</h1>


    <!-- {{'visible' if showResult==False else ''}} -->

    <form class="q_and_a_form" method="post">
        <div class="question_input  {{'hidden' if showResult else ''}}">
            <input type="text" name="sql" class="form_input" placeholder="Input SQL Query Here..." />
            <input class="mark_button btn" type="submit" name="mark_button" value="mark">
        </div>
    </form>

    <div class="receive_result {{'visible' if showResult else ''}}">
        <div class="result {{'green' if correct else ''}}">
            {% if correct %}
            CORRECT!
            {% else %}
            INCORRECT:<span class="explanation">{{explanation}}</span>
            <span class="explanation">The query you inputted was</span> <span class="explanation"
                style="font-family: 'Courier New', Courier, monospace;">"{{userQuery}}"</span>
            {% endif %}
        </div>
        <div class="result_output">
            <p>This was the output produced by our model query:</p>
            <table>
                {% for row in modelOutput %}
                <tr>
                    {% for value in row %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="next_button_div">
            <input class="next_button btn" type="submit" name="next_button" form="next_q_form" value="next >>">
        </div>
    </div>


</body>

<script>
    const select = document.querySelector("#difficulty");
    const next_q_form = document.querySelector("#next_q_form");
    const eng_question = document.querySelector(".eng_question");
    const receive_result = document.querySelector(".receive_result");
    const question_input = document.querySelector(".question_input");
    const result_data = document.querySelector(".result_data");

    select.addEventListener("change", async function () {
        const form_data = new FormData(next_q_form);
        form_data.append("difficulty_changed", "");
        const response = await fetch("/practice", {
            method: "POST",
            body: form_data,
        });
        eng_question.textContent = await response.text();
        receive_result.classList.remove("visible");
        question_input.classList.remove("hidden");

        // this is where we will need to reset the output fields

    })
</script>

</html>